html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.main {
	margin: auto;
	width: 960px;	
}
.head {
	text-align: center;
	font-size: 30px;
	padding: 10px;
}
.stickers {
	height: 128px;	
	margin-top: 20px;	
}
.sticker {		
	float: left;
	width: 128px;
	height: 128px;	
}
.sticker#github {
	background: url(../images/github.png);
}
.sticker#android {
	background: url(../images/android.png);
}
.sticker#js {
	background: url(../images/js.png);
}
.sticker#like {
	background: url(../images/like.png);
}
.sticker:hover {
	cursor: pointer;
}
.macbook {
	margin: 20px auto;
	background: url(../images/macbook_top.png);
	width: 592px;
	height: 402px;
}